<h2>Signup Form</h2>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" style="border:1px solid #ccc" (submit)="onRegisterSubmit()">
  <div class="container">
    <label><b>Email</b></label>
    <div [ngClass]= "{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
      <input type="text" placeholder="Enter Email" name="email" formControlName="email" required (blur)=checkEmail()>
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required.</li>
        <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && (form.controls.email.dirty)">Minimum characters: 5, Maximun characters: 30</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
        <li *ngIf="emailMessage">{{ emailMessage }}</li>
      </ul>
    </div>

    <label><b>Username</b></label>
    <div [ngClass]= "{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid }">
      <input type="text" placeholder="Enter Username" name="username" formControlName="username" required (blur)=checkUsername()>
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required.</li>
        <li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength">Minimum characters: 3, Maximun characters: 15</li>
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must have alpha-numeric characters only.</li>
        <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
      </ul>
    </div>

    <label><b>Password</b></label>
    <div [ngClass]= "{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors }">
      <input type="password" placeholder="Enter Password" name="password" formControlName="password" required>
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</li>
        <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">Minimum characters: 8, Maximun characters: 35</li>
        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must have atleast one number, character, special character</li>
      </ul>
    </div>

    <label><b>Repeat Password</b></label>
    <div [ngClass]= "{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" placeholder="Repeat Password" name="confirm" formControlName="confirm" required>
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required.</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
      </ul>
    </div>
    <!-- <input type="checkbox" checked="checked"> Remember me -->
    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->

    <div class="clearfix">
      <button type="submit" class="signupbtn" [disabled]="!form.valid || processing || !emailValid || !usernameValid" >Register</button>
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </div>
</form>

<!-- <p>Email: {{form.controls.email.value}}</p>
<p>Username: {{form.controls.username.value}}</p>
<p>Password: {{form.controls.password.value}}</p>
<p>Confirm: {{form.controls.confirm.value}}</p> -->